<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comment</title>
</head>
<body>
    <div class="container-md p-3">
        <h2></h2>
        <button type="button" class="btn btn-outline-dark"><a href="/"class="btn btn-dark btn-dark btn-block"aria-pressed="true">MAIN PAGE</a>
        </div>
    <style>
        body{
            background-image: url("../../static/mx11.jpg");
        }
    </style>
    <DIV>
        <div class="container-md p-5 my-5 border  bg-info text-black text-center ">
            <h2>COMMENTS</h2>
        <h3>FEED BLACK HOLE WITH YOUR COMMENTS</h3>
    </DIV>
    <div class="container mt-3 bg-info">
        <h2></h2>
        <p>FEED ME </p>
        <form action="/action_page.php">
        <div class="form-floating mb-3 mt-3">
            <textarea class="form-control" id="comment" name="text" placeholder="Comment goes here"></textarea>
            <label for="comment">Comments</label>
        </div>
        <button type="button" class="btn btn-outline-light"><a href="./comment.html"class="btn btn-dark btn-dark btn-block"aria-pressed="true">Submit food</a>
        </form>
        </div>
</body>
</html>